<!DOCTYPE html>
<html>
<head>
	<title>Chat Online</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container index">
	<div class="login box-container" id="login_set">
		<div class="heading">
			<h2 class="login-heading">Login</h2>
		</div>
		<form action="/login" method="post">
		<div class="input-group username-group">
			<span class="input-group-addon iconbg">
				<i class="glyphicon glyphicon-user"></i>
	  		</span>
	  		<input id="login-username" type="text" class="form-control inputbg" name="username" value="<%=(typeof username !== 'underfined')?username : ''%>" placeholder="username or email">
		</div>
		<div class="input-group password-group">
	  		<span class="input-group-addon iconbg">
				<i class="glyphicon glyphicon-lock"></i>
	  		</span>
	  		<input id="login-password" type="password" class="form-control inputbg" name="password" value="<%=(typeof pass !== 'underfined')? pass : ''%>" placeholder="password">
		</div>
		<!-- <div class="alert-group" ng-hide="LoginAlert">
	  		<div class="alert alert-danger">
				Wrong Username and Password combination 
	  		</div>
		</div> -->

		<!-- Button to Login -->
		<div class="input-group">
			<button id="btn-login" class="btn btn-login btnbg" type="submit">
				Login 
			</button>
		</div>
					
		</form>
		<!-- Link for SingUp Box -->
		<div class="signup-box">
		  	<h4>Don't have an account ? <u><span onclick="showcontent('signup')">SignUp</span></u></h4>
		</div>
	</div>
	<div class="register box-container" id="signup_set">

			<div class="heading">
				<h2 class="login-heading">Register</h2>        
			</div>
			<form action="/signup" method="post" enctype="multipart/form-data">
			<!-- User name Text Field -->
			<div class="input-group username-group">
				<span class="input-group-addon iconbg">
					<i class="glyphicon glyphicon-user"></i>
			  	</span>
			  	<input id="register-username" type="text"  class="form-control inputbg" name="username" value="" placeholder="username or email" >
			</div>

			<!-- ALert Box When username is already taken -->
			<!-- <div class="alert-group" ng-hide="RegisterAlert">
			  	<div class="alert alert-danger">
					This username is already taken. 
			  	</div>
			</div> -->

			<!-- Password Text Field -->			
			<div class="input-group password-group">
			  	<span class="input-group-addon iconbg">
					<i class="glyphicon glyphicon-lock"></i>
			  	</span>
			  	<input id="register-password" type="password" ng-model="password"  class="form-control inputbg" name="password" placeholder="password">
			</div>

			<!-- Field upload Image-->		
			<div id="selectedFile" class="selectedFile" >Upload Profile Image:</div>	
			<div class="input-group p_photo-group">
				<input type="file"  name="file">
			</div>
			

			<!-- Button to Register -->
			<div class="input-group">
				<button id="btn-login" type="submit" class="btn btn-login btnbg" >
					Register
			  	</button>
			</div>
			</form>
			<!-- Link for Login -->
			<div class="signup-box">
				<h4>Already have an account ? <u><span onclick="showcontent('login')">SignIn</span></u></h4>
			</div>
		</div>
</div>
<script type="text/javascript">
	function hidecontent(){
		document.getElementById('login_set').style.display = "none";
		document.getElementById('signup_set').style.display = "none";
		
	}
	function showcontent(p){
		hidecontent();
		document.getElementById(p+"_set").style.display = "";
	}
	showcontent('login');
</script>
</body>
</html>